/*login info from the user*/
.inputs  { 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    background-color: #EAEAEA; 
    background: -moz-linear-gradient(top, #FFF, #EAEAEA); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA)); 
    border: 1px solid #CACACA; 
    color: #444; 
    font-size: 1.1em; 
    margin: 0px 10px 0px 0px; 
    padding-left: 2px;
    width:200px; 
} 
/*resets focus of login bar*/
.inputs:focus { 
    color: #ffffff; 
    background: #ffab23;
    -webkit-box-shadow: 0 0 25px #CCC; 
    -moz-box-shadow: 0 0 25px #cccc00; 
    box-shadow: 0 0 25px #CCCC00; 
    -webkit-transform: scale(1.05); 
    -moz-transform: scale(1.05); 
    transform: scale(1.05); 
} 
/*css for button itself*/
.lbutton {


box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:5px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:9px;
	font-weight:bold;
	padding:6px 6px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
/*effect when hover over login button*/
.lbutton:hover {

background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.lbutton:active {
    position:relative;
	top:1px;
}


