

   #left {

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #2D4A37),
        color-stop(1, #789480)
        );
    
    background: #0a0e0a; 
    background: -moz-linear-gradient(top,  #0a0e0a 23%, #0a0e0a 23%, #aebcbf 65%, #aebcbf 79%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #0a0e0a 23%,#0a0e0a 23%,#aebcbf 65%,#aebcbf 79%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #0a0e0a 23%,#0a0e0a 23%,#aebcbf 65%,#aebcbf 79%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0e0a', endColorstr='#aebcbf',GradientType=0 ); /* IE6-9 */


    text-align:left;
    padding-left:10px;
    margin-right: 5px;
    font-size: 20px;

}


